<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD Options</title>
</head>
<body>
    <header>
        <h1>CRUD Options</h1>
    </header>

    <main>
        <h2>Choose an Action</h2>
        <button onclick="location.href='/create'" type="button">Create</button>
        <button onclick="location.href='/read'" type="button">Read</button>
        <button onclick="location.href='/update'" type="button">Update</button>
        <button onclick="location.href='/delete'" type="button">Delete</button>
    </main>

    
</body>
</html>
